@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p>
            This page is hosted on <a href="https://www.heroku.com/">Heroku</a> using Docker and .NET
        </p>
        <p>
            If you want to see how to host your app using Docker and Heroku check <a href="https://programista-doswiadczony.pl/dlaczego-nie-hostujesz-net-core-na-heroku/">here</a>
        </p>
    </div>
</div>
